/**********************************************************
This file is for CSS used on only the weekly forcast page.
**********************************************************/

.box {
	position: absolute;
	height: 41%;
	width: 20%;
	margin: 0;
	padding: 0;
	border: 1px solid #1A14EA;
	text-align: center;
	font-size: 20px;
	overflow: hidden;
}

#box1 {
	left: 0;
	top: 0;
}

#box2 {
	left: 20%;
	top: 0;
}

#box3 {
	left: 40%;
	top: 0;
}

#box4 {
	left: 60%;
	top: 0;
}

#box5 {
	left: 80%;
	top: 0;
}

#box6 {
	left: 0;
	top: 41%;
}

#box7 {
	left: 20%;
	top: 41%;
}

#box8 {
	left: 40%;
	top: 41%;
}

#box9 {
	left: 60%;
	top: 41%;
}

#box10 {
	left: 80%;
	top: 41%;
}

.bottombar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 17%;
	width: 100%;
	border-top: 3px solid #009900;
}

.radar {
	position: absolute;
	height: 100%;
	width: 37%;
	left: 0px;
	padding: 10px;
	text-align: center;
	font-size: 30px;
}

.hourly {
	position: absolute;
	height: 100%;
	width: 37%;
	left: 37%;
	text-align: center;
	font-size: 30px;
	border-left: 3px solid #009900;
}

.back {
	position: absolute;
	height: 100%;
	width: 20%;
	right: 0px;
	border-left: 3px solid #009900;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}