/***************************************************
This file is for CSS used on only the home page.
***************************************************/

.main {
	position: absolute;
	left: 0;
	top: 0;
	height: 240px;
	width: 85%;
}

.rightbar {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 15%;
	border-left: 3px solid #009900;
}

.now {
	bottom: 0;
	height: 150px;
	width: 100%;
	border-bottom: 2px solid #000099;
	text-align: center;
	overflow: hidden;
}

.rightmiddle {
	width: 100%;
	height: 100%;
	bottom: 0;
	text-align: center;
}

.forcastbutton {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
	border-top: 3px solid #009900;
}

.measure-container {
	display: inline-block;
	width: 31%;
	text-align: right;
	border: 1px solid #000099;
	overflow: hidden;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.measure {
	position: relative;
	font-family: 'Play', sans-serif;
	font-size: 40px;
}

.symbol {
	vertical-align: super;
	font-size: 45%;
	line-height: normal;
}

a.inline-block {
	display: inline-block;
}

.ui-progressbar {
	height: 20px;
}

.ui-progressbar-value {
	transition: width 0.8s;
	-webkit-transition: width 0.8s;
}

span.ui-progressbar-text {
	position: absolute;
	font-size: 15px;
	margin-left: 30%;
	margin-top: 0px
}